
:root {
    --primary-color: #c850c0;
    --secondary-color: #ffb3d9;
    --text-color: #5e0f5e;   
    --background-color: #ffe6f2; 
}

body {
    background-color: var(--background-color);   
    color: var(--text-color); 

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Oxygen, Ubuntu, Cantarell,
                 "Helvetica Neue", Arial, sans-serif;

    letter-spacing: 0.3px;
}


