@import 'assets/css/reset.css';
@import 'assets/css/theme.css';
@import 'assets/css/layout.css';
@import 'assets/css/components.css';
@import 'assets/css/books.css';
@import 'assets/css/courses.css';
@import 'assets/css/about.css';
@import 'assets/css/register.css';
